body {
    background-color: powderblue;
}

#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}

.city {
  background-color: tomato;
  color: white;
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
}